.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* 타이틀 */
.title {
  text-align: center;
  color: #444;
  margin-bottom: 10px;
  font-weight: 600;
}

/* 인풋 스타일 */
.login-box input {
  padding: 12px;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  background-color: #fafafa;
  transition: 0.2s;
}

.login-box input:focus {
  border-color: #d78f5a;
  outline: none;
  background-color: #fff;
}

/* 버튼 */
.login-box button {
  padding: 12px;
  background-color: #d78f5a; /* 따뜻한 카멜톤 */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
