.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

.switch-link {
  margin-top: 10px;
  cursor: pointer;
  color: #61dafb;
}
